@page "/todo"
@rendermode InteractiveServer
<h3>Todo List (@todos.Count(todo => !todo.IsDone))</h3>
<ul>
    @foreach(var todo in todos){
        <li><input type="checkbox" @bind="todo.IsDone"></input>@todo.title</li>
    }
</ul>
<input @bind="newtodo" />
<button @onclick="AddToDo">Add Todo</button>
@code {
    private List<TodoItem> todos = new();
    string newtodo = string.Empty;

    void AddToDo(){
        if(!string.IsNullOrEmpty(newtodo)){
            todos.Add(new TodoItem { title = newtodo });
            newtodo = string.Empty;
        }
    }
}
